.background {
    background-color: #fdfffe;
}
ion-item {
    --background: #fdfffe;
    --color: #797171;
}
ion-col{
    text-align: -webkit-center;
    align-self: center;
    padding-top: 40%;
}
.loginText{
    text-align: center;
}
.form{
    color: brown;
}
ion-button{
    --background:#009432;
}
.loginText{
    color: #00822C;
    font-weight: ;
}

