.body {
    height: 100%;
}

ion-item {
    --background: #fdfffe;
    --color: #797171;
}
ion-grid {
    height: -webkit-fill-available !important;
    background-color: #103d27;
    width: 100%;
   
}
ion-row {
    justify-content: center;
}

ion-col {
    text-align: -webkit-center;
    align-self: center;
    height: -webkit-fill-available;
    justify-content: center !important;
}
.loginText {
    text-align: center;
}
.form {
    padding-top: 20%;
}
ion-button {
    --background: #009432;
}
.loginText {
    color: #00822c;
    font-weight: 800;
    font-size: xx-large;
}
